.header{
    color: #1a9451;
    display: block;
    margin-top: 140px;
    margin-left: 100px;
    font-size: 30px;
    line-height: 0.5rem;
    flex-wrap: wrap;
}
.header h4{
    color: gray;
    font-weight: 400;
    margin-top: 0;
}
@media screen and (max-width:800px) {
    .header{
        font-size: 18px;
    }
}